
<%- include('include/_header') %> 


<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light"><img
          src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg"
          alt="img" class="user-avatar"> <p id="homeTitle">Hello, let buy for your pet <i class="fas fa-grin-hearts"></i></p> 
             <form action="/api/products/search" method="POST">
                <input name="searchByName" style="width:50% ;height: 30px;" type="text">
                <button type="submit" style="margin-left: 3px; font-size: 18px; border-radius: 0.2rem; color: white;
                background-color: black;">Search</button> 
             </form>
      </div>
               
      <div class="list-group list-group-flush">
         
  
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin">Admin Manager <i class="fas fa-users-cog"></i></a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3"
          href="/home">All Products <i class="fas fa-dog"></i></a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Logout <i class="fas fa-sign-out-alt"></i></a>
  
      </div>
 </div>


    <div style="margin-left: 25px;" class='mt-4'>
        <div class='row'>
         <% for( let i = 0; i < products.length; i++) { %>
            <div class='col-sm-6 col-lg-4'>
      
              <div class='card card-course-item'>
                <a href='/home/detail?id=<%= products[i]._id %>'>
                  <img 
                    class='card-img-top'
                    src='<%= products[i].image %>'
                    alt='Card image cap'
                  />
      
                </a>
                <div class='card-body'>
                  <a href='/home/detail?id=<%= products[i]._id %>'>
                    <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;" class='card-title'><%= products[i].name %>  </h5><%= products[i].price %>$
                  </a>
           
                  <p class='card-text'><%= products[i].title %></p>
                  <a href='/home/detail?id=<%= products[i]._id %>' class='card-btn btn btn-primary'>Detail Product</a>
                </div>
              </div>
      
            </div>
          <% } %>
      
        </div>
      </div>




<%- include('include/_footer') %> 
